#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter, .instructions {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 30px;
}
/* 
* {
    border: 1px solid red;
} */